<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Registration and Login App</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


</head>
<body>
<!-- create navigation bar ( header) -->
<div >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Trang Chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/registerSchedule">Đăng Kí Dạy <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule">Xem TKB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teacherInfo">Chỉnh Sửa TT Cá Nhân</a>
        </li>
        <li class="nav-item mg-lg-0 mr-sm-2">
          <a class="nav-link" href="#">Đăng Xuất</a>
        </li>
      </ul>
      <span class="navbar-text">
          Xin Chào <span th:text="${username}"></span>
      </span>
    </div>
  </nav>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-primary">Giới thiệu nhóm và chủ đề bài tập</h1>
      <p class="lead">Chào mừng bạn đến với trang chủ của chúng tôi! Chúng tôi là một nhóm sinh viên và chúng tôi muốn giới thiệu về bản thân chúng tôi và chủ đề bài tập của chúng tôi.</p>
    </div>
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h2 class="card-title text-info">Thành viên của nhóm</h2>
          <ul class="list-unstyled">
            <li>Trần Anh Đức - B19DCCN199</li>
            <li>Đỗ Minh Đức - B19DCCN188</li>
            <li>Hà Minh Đức - B19DCCN191</li>
            <li>Hoàng Huy Đông - B19DCCN184</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h2 class="card-title text-info">Hệ Thống Đăng Ký Tín Chỉ</h2>
          <p class="card-text">Nhóm chức năng : Lên thời khóa biểu</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h2 class="card-title text-info">Liên hệ</h2>
          <ul class="list-unstyled">
            <li>Trần Anh Đức - tranduc030401@gmail.com</li>
          </ul>
        </div>
        </div>
        </div>
        </div>

</div>

</body>
</html>