<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Registration and Login App</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar ( header) -->
<div >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Trang Chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/registerSchedule">Đăng Kí Dạy <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule">Xem TKB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teacherInfo">Chỉnh Sửa TT Cá Nhân</a>
        </li>
        <li class="nav-item mg-lg-0 mr-sm-2">
          <a class="nav-link" href="#">Đăng Xuất</a>
        </li>
      </ul>
      <span class="navbar-text">
          Xin Chào <span th:text="${username}"></span>
      </span>
    </div>
  </nav>
</div>


<div class="container">
  <p>Username: <span th:text="${username}"></span></p>
</div>
</body>
</html>